:root {
	--white: #ffffff;
	--black: #000000;
	// --very-light-pink: #c7c7c7;
	--very-light-pink: grey;
	--text-input-field: #f7f7f7;
	--hospital-green: #acd9b2;
	--syan: #05d6a1;
	--crynsom: #FF4040;
	/* Spaces */
	--sm: 14px;
	--md: 16px;
	--lg: 18px;
	/* Texts */
	--noto: 'Noto Sans HK', sans-serif;
	--notos: 'Noto Serif', serif;
	--lobster: 'Lobster Two', cursive;
	--roboto: 'Roboto', sans-serif;
};
